


#swipht_blogs_subscribeposts_list_wrapper {
  position: absolute;
  z-index:25;
  display: none;
}

#swipht_blogs_subscribeposts_list_top {
  
}

#swipht_blogs_subscribeposts_list_bottom {
  height:3px;
}

#swipht_blogs_subscribeposts_line_top {
  font-size:1em;
  padding:4px 5px 1px;
  position:relative;
  top:10px;
  width:134px;
  z-index:35;
}

#swipht_blogs_subscribeposts_line_bottom {
  height:2px;
  margin-bottom:0;
  padding-bottom:0;
  position:relative;
  top:10px;
  width:134px;
}

#swipht_blogs_subscribeposts_list_top div.subscribe-links a {
  display: block;
}

.swipht-blogs-subscribe-wrapper {
  
}

.subscribe-links {
  padding: 4px;
  padding-top: 15px;
}

.subscribe-type-posts {
  
}

div.subscribe-top {
  cursor:pointer;
  margin:0;
  padding:0;
  text-align:left;
  width:144px;
  z-index:20;
}

div.subscribe {
  cursor:pointer;
  margin:0;
  padding:0;
  text-align:left;
  width:144px;
  z-index:20;
}

.subscribe-top .subscribe-dropdown-arrow  {
  float:right;
  margin-right:14px;
  margin-top:6px;
}

.subscribe-inner {
  margin: 4px;
}

.subscribe-inner span {
  margin: 4px;
}
